<!DOCTYPE html>

<html>

  <head>
  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Tab Icon -->
    <link rel="icon" href="/assets/img/box.png">
    <!-- Tab Title -->
    <title>WM FTP Client</title>
    <!-- Link in Custom Styling -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    <link href="/assets/style/main.css" rel="stylesheet" type="text/css">
    <!-- Link in Custom JavaScript -->
    <script src="/assets/js/main.js"></script>

  </head>

  <body>

    <!-- Whole Page Content Container -->
    <div class="container">
      {{{body}}}
    </div>
    
  </body>

</html>