{{!-- Stupid Logo --}}
<center>
  <img src="/assets/img/box.png"/>
  <b>FTP Stuff!</b>
  <img src="/assets/img/box.png"/>
</center>

<br/>

{{!-- Actual FTP Data --}}
<h3>Info in red...</h3>
<div id="ftpDataHere">
  {{hbsObject}}
</div>